// @import "../../../../SticInclude/vendor/smartmenus/dist/css/sm-stic/mixins";

// the variables + the CSS
// @import '_sm-stic-theme.scss';

// This file is best viewed with Tab size 4 code indentation

// ----------------------------------------------------------
// :: 1.1. Colors
// ----------------------------------------------------------

$sm-stic__stic: $stic-base !default;
$sm-stic__stic-dark: darken($sm-stic__stic, 5%) !default;
$sm-stic__stic-darker: darken($sm-stic__stic, 15%) !default;
$sm-stic__stic-light: lighten($sm-stic__stic, 30%) !default;
$sm-stic__white: #ebe8e8 !default;
$sm-stic__gray: darken($sm-stic__white, 34%) !default;

$sm-stic__text-shadow: rgba(0, 0, 0, 0) !default;
$sm-stic__box-shadow: rgba(0, 0, 0, 0) !default;

$sm-stic__gradients_amount: 0% !default;

// ----------------------------------------------------------
// :: 1.2. Breakpoints
// ----------------------------------------------------------

$sm-stic__desktop-vp: 768px !default; // switch from collapsible to desktop

// ----------------------------------------------------------
// :: 1.3. Typography
// ----------------------------------------------------------

// Import "PT Sans Narrow" font from Google fonts
// @import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

// $sm-stic__font-family: "Lato, Lato, Arial, sans-serif" !default;
// $sm-stic__font-family: $font-family-base !default;
$sm-stic__font-size-base: 16px !default;
$sm-stic__font-size-small: 14px !default;
$sm-stic__line-height: 20px !default;

// ----------------------------------------------------------
// :: 1.4. Borders
// ----------------------------------------------------------

$sm-stic__border-width: 1px !default;
$sm-stic__border-radius-base: 0px !default;
$sm-stic__border-radius-small: 0px !default;

// ----------------------------------------------------------
// :: 1.5. Collapsible main menu
// ----------------------------------------------------------

// Menu box
$sm-stic__collapsible-bg: transparent !default;
$sm-stic__collapsible-border-radius: $sm-stic__border-radius-base !default;
$sm-stic__collapsible-box-shadow: 0 1px 4px $sm-stic__box-shadow !default;

// Items
$sm-stic__collapsible-item-color: $sm-stic__white !default;
$sm-stic__collapsible-item-bg: $sm-stic__stic !default;
$sm-stic__collapsible-item-current-color: $sm-stic__white !default;
$sm-stic__collapsible-item-current-bg: $sm-stic__stic-darker !default;
$sm-stic__collapsible-item-disabled-color: lighten($sm-stic__stic, 30%) !default;
$sm-stic__collapsible-item-padding-vertical: 5px !default;
$sm-stic__collapsible-item-padding-horizontal: 5px !default;

// Toggle button (sub menu indicators)
$sm-stic__collapsible-toggle-bg: rgba(0, 0, 0, 0.1) !default;

// ----------------------------------------------------------
// :: 1.6. Collapsible sub menus
// ----------------------------------------------------------

// Menu box
$sm-stic__collapsible-sub-bg: $sm-stic__white !default;

// Items
$sm-stic__collapsible-sub-item-color: $sm-stic__stic-dark !default;
$sm-stic__collapsible-sub-item-bg: transparent !default;
$sm-stic__collapsible-sub-item-current-color: $sm-stic__white !default;
$sm-stic__collapsible-sub-item-current-bg: $sm-stic__stic-darker !default;
$sm-stic__collapsible-sub-item-disabled-color: darken($sm-stic__white, 30%) !default;

// Items separators
$sm-stic__collapsible-sub-separators-color: rgba(0, 0, 0, 0.05) !default;

// Items text indentation for deeper levels
$sm-stic__collapsible-sub-item-indentation: 8px !default;

// ----------------------------------------------------------
// :: 1.7. Desktop main menu
// ----------------------------------------------------------

// Menu box
$sm-stic__desktop-bg: $stic-base !default;
// $sm-stic__desktop-bg: red !default;
$sm-stic__desktop-border-radius: $sm-stic__border-radius-base !default;
$sm-stic__desktop-box-shadow: 0 0px 0px $sm-stic__box-shadow !default;

// Items
$sm-stic__desktop-item-color: bw($stic-base) !default;
$sm-stic__desktop-item-bg: $sm-stic__stic !default;
$sm-stic__desktop-item-hover-bg: $stic-light !default;
$sm-stic__desktop-item-current-color: $sm-stic__white !default;
$sm-stic__desktop-item-current-bg: $sm-stic__stic-darker !default;
$sm-stic__desktop-item-disabled-color: lighten($sm-stic__stic, 30%) !default;
$sm-stic__desktop-item-padding-vertical: 5px !default;
$sm-stic__desktop-item-padding-horizontal: 9px !default;

// Items separators
$sm-stic__desktop-separators-size: 0px !default;
$sm-stic__desktop-separators-color: red !default;

// Sub menu indicators
$sm-stic__desktop-arrow-size: 5px !default; // border-width
$sm-stic__desktop-arrow-color: bw($stic-light) !default;

// Vertical menu box
$sm-stic__desktop-vertical-box-shadow: 0 1px 4px $sm-stic__box-shadow !default;

// Vertical items
$sm-stic__desktop-vertical-item-padding-vertical: 9px !default;
$sm-stic__desktop-vertical-item-padding-horizontal: 23px !default;

// ----------------------------------------------------------
// :: 1.8. Desktop sub menus
// ----------------------------------------------------------

// Menu box
$sm-stic__desktop-sub-bg: $sm-stic__stic-dark !default;
$sm-stic__desktop-sub-border-color: $stic-light !default;
$sm-stic__desktop-sub-border-radius: $sm-stic__border-radius-small !default;
$sm-stic__desktop-sub-box-shadow: 0 5px 12px $sm-stic__box-shadow !default;
$sm-stic__desktop-sub-padding-vertical: 0px !default;
$sm-stic__desktop-sub-padding-horizontal: 0 !default;

// Items
$sm-stic__desktop-sub-item-color: bw($stic-light) !default;
$sm-stic__desktop-sub-item-bg: $stic-light !default;
$sm-stic__desktop-sub-item-hover-color: bw($stic-base) !default;
$sm-stic__desktop-sub-item-hover-bg: $stic-base !default;
$sm-stic__desktop-sub-item-current-color: $sm-stic__white !default;
$sm-stic__desktop-sub-item-current-bg: $sm-stic__stic-darker !default;
$sm-stic__desktop-sub-item-disabled-color: red !default;
$sm-stic__desktop-sub-item-padding-vertical: 9px !default;
$sm-stic__desktop-sub-item-padding-horizontal: 23px !default;

// -----------------------------------------------------------------------------------------------------------------
// 2. Theme CSS
// -----------------------------------------------------------------------------------------------------------------

// ----------------------------------------------------------
// :: 2.1. Collapsible mode (mobile first) // not used in SinergiaCRM
// ----------------------------------------------------------

// These rules have been removed from this file. If necessary, they can be used from "../../../../SticInclude/vendor/smartmenus/dist/css/sm-stic/mixins"

// ----------------------------------------------------------
// :: 2.2. Desktop mode
// ----------------------------------------------------------

@media (min-width: $sm-stic__desktop-vp) {
	/* Switch to desktop layout
	-----------------------------------------------
	   These transform the menu tree from
	   collapsible to desktop (navbar + dropdowns)
	-----------------------------------------------*/
	/* start... (it's not recommended editing these rules) */
	.sm-stic ul {
		position: absolute;
		width: 12em;
	}
	.sm-stic li {
		float: left;
	}
	.sm-stic.sm-rtl li {
		float: right;
	}
	.sm-stic ul li,
	.sm-stic.sm-rtl ul li,
	.sm-stic.sm-vertical li {
		float: none;
	}
	.sm-stic a {
		white-space: nowrap;
	}
	.sm-stic ul a,
	.sm-stic.sm-vertical a {
		white-space: normal;
	}
	.sm-stic .sm-nowrap > li > a,
	.sm-stic .sm-nowrap > li > :not(ul) a {
		white-space: nowrap;
	}
	/* ...end */

	// Main menu box
	#stic-menu.sm-stic {
		background: $sm-stic__desktop-bg;
		background-image: linear-gradient(
			to bottom,
			lighten($sm-stic__desktop-bg, $sm-stic__gradients_amount),
			darken($sm-stic__desktop-bg, $sm-stic__gradients_amount)
		);
		border-radius: $sm-stic__desktop-border-radius;
		box-shadow: $sm-stic__desktop-box-shadow;

		// Main menu items
		a {
			&,
			&:hover,
			&:focus,
			&:active,
			&.highlighted {
				padding: $sm-stic__desktop-item-padding-vertical $sm-stic__desktop-item-padding-horizontal;
				background: $sm-stic__desktop-item-bg;
				background-image: linear-gradient(
					to bottom,
					lighten($sm-stic__desktop-item-bg, $sm-stic__gradients_amount),
					darken($sm-stic__desktop-item-bg, $sm-stic__gradients_amount)
				);
				color: $sm-stic__desktop-item-color;
			}

			&:hover,
			&:focus,
			&:active,
			&.highlighted {
				background: $sm-stic__desktop-item-hover-bg;
				background-image: linear-gradient(
					to bottom,
					lighten($sm-stic__desktop-item-hover-bg, $sm-stic__gradients_amount),
					darken($sm-stic__desktop-item-hover-bg, $sm-stic__gradients_amount)
				);
			}

			&.current {
				background: $sm-stic__desktop-item-current-bg;
				background-image: linear-gradient(
					to bottom,
					darken($sm-stic__desktop-item-current-bg, $sm-stic__gradients_amount),
					lighten($sm-stic__desktop-item-current-bg, $sm-stic__gradients_amount)
				);
				color: $sm-stic__desktop-item-current-color;
			}

			&.disabled {
				background: $sm-stic__desktop-item-bg;
				background-image: linear-gradient(
					to bottom,
					lighten($sm-stic__desktop-item-bg, $sm-stic__gradients_amount),
					darken($sm-stic__desktop-item-bg, $sm-stic__gradients_amount)
				);
				color: $sm-stic__desktop-item-disabled-color;
			}

			// Sub menu indicators
			.sub-arrow {
				top: auto;
				margin-top: 0;
				bottom: 2px;
				left: 50%;
				margin-left: -$sm-stic__desktop-arrow-size;
				right: auto;
				width: 0;
				height: 0;
				border-width: $sm-stic__desktop-arrow-size;
				border-style: solid dashed dashed dashed;
				border-color: $sm-stic__desktop-arrow-color transparent transparent transparent;
				background: transparent;
				border-radius: 0;
			}
			// reset mobile first style
			.sub-arrow::before {
				display: none;
			}
		}

		// round the corners of the first and last items
		> li:first-child > a,
		> li:first-child > :not(ul) a {
			border-radius: $sm-stic__desktop-border-radius 0 0 $sm-stic__desktop-border-radius;
		}
		> li:last-child > a,
		> li:last-child > :not(ul) a {
			border-radius: 0 $sm-stic__desktop-border-radius $sm-stic__desktop-border-radius 0 !important;
		}

		// Main menu items separators
		> li {
			border-left: $sm-stic__desktop-separators-size solid $sm-stic__desktop-separators-color;

			&:first-child {
				border-left: 0;
			}
		}

		// Sub menus box
		ul {
			border: $sm-stic__border-width solid $sm-stic__desktop-sub-border-color;
			padding: $sm-stic__desktop-sub-padding-vertical $sm-stic__desktop-sub-padding-horizontal;
			background: $sm-stic__desktop-sub-bg;
			border-radius: 0 0 $sm-stic__desktop-sub-border-radius $sm-stic__desktop-sub-border-radius !important;
			box-shadow: $sm-stic__desktop-sub-box-shadow;

			// 2+ sub levels need rounding of all corners
			ul {
				border-radius: $sm-stic__desktop-sub-border-radius !important;
				background: $sm-stic__desktop-sub-bg;
			}

			// Sub menus items
			a {
				&,
				&:hover,
				&:focus,
				&:active,
				&.highlighted {
					border: 0 !important;
					padding: $sm-stic__desktop-sub-item-padding-vertical $sm-stic__desktop-sub-item-padding-horizontal;
					background: $sm-stic__desktop-sub-item-bg;
					color: $sm-stic__desktop-sub-item-color;
					border-radius: 0 !important;
				}

				&:hover,
				&:focus,
				&:active,
				&.highlighted {
					background: $sm-stic__desktop-sub-item-hover-bg;
					background-image: linear-gradient(
						to bottom,
						lighten($sm-stic__desktop-sub-item-hover-bg, $sm-stic__gradients_amount),
						darken($sm-stic__desktop-sub-item-hover-bg, $sm-stic__gradients_amount)
					);
					color: $sm-stic__desktop-sub-item-hover-color;
				}

				&.current {
					background: $sm-stic__desktop-sub-item-current-bg;
					background-image: linear-gradient(
						to bottom,
						darken($sm-stic__desktop-sub-item-current-bg, $sm-stic__gradients_amount),
						lighten($sm-stic__desktop-sub-item-current-bg, $sm-stic__gradients_amount)
					);
					color: $sm-stic__desktop-sub-item-current-color;
				}

				&.disabled {
					background: $sm-stic__desktop-sub-bg;
					color: $sm-stic__desktop-sub-item-disabled-color;
				}

				// Sub menu indicators
				.sub-arrow {
					top: 50%;
					margin-top: -$sm-stic__desktop-arrow-size;
					bottom: auto;
					left: auto;
					margin-left: 0;
					right: 10px;
					border-style: dashed dashed dashed solid;
					border-color: transparent transparent transparent $sm-stic__desktop-arrow-color;
				}
			}

			// No sub menus items separators
			li {
				border: 0;
			}
		}

		// Scrolling arrows containers for tall sub menus - test sub menu: "Sub test" -> "more..." in the default download package
		.scroll-up,
		.scroll-down {
			position: absolute;
			display: none;
			visibility: hidden;
			overflow: hidden;
			background: $sm-stic__desktop-sub-bg;
			height: 20px;
			// width and position will be set automatically by the script
		}
		.scroll-up-arrow,
		.scroll-down-arrow {
			position: absolute;
			top: -2px;
			left: 50%;
			margin-left: -8px;
			// we will use one-side border to create a triangle so that we don't use a real background image, of course, you can use a real image if you like too
			width: 0;
			height: 0;
			overflow: hidden;
			border-width: 8px; // tweak size of the arrow
			border-style: dashed dashed solid dashed;
			border-color: transparent transparent $sm-stic__desktop-sub-item-color transparent;
		}
		.scroll-down-arrow {
			top: 6px;
			border-style: solid dashed dashed dashed;
			border-color: $sm-stic__desktop-sub-item-color transparent transparent transparent;
		}

		// Rigth-to-left

		// Main menu box
		&.sm-rtl {
			// Vertical main menu items
			&.sm-vertical {
				a {
					// Sub menu indicators
					.sub-arrow {
						right: auto;
						left: 10px;
						border-style: dashed solid dashed dashed;
						border-color: transparent $sm-stic__desktop-arrow-color transparent transparent;
					}
				}
			}

			// round the corners of the first and last items
			> li:first-child > a,
			> li:first-child > :not(ul) a {
				border-radius: 0 $sm-stic__desktop-border-radius $sm-stic__desktop-border-radius 0;
			}
			> li:last-child > a,
			> li:last-child > :not(ul) a {
				border-radius: $sm-stic__desktop-border-radius 0 0 $sm-stic__desktop-border-radius !important;
			}

			// Main menu items separators
			> li {
				&:first-child {
					border-left: $sm-stic__desktop-separators-size solid $sm-stic__desktop-separators-color;
				}
				&:last-child {
					border-left: 0;
				}
			}

			// Sub menus box
			ul {
				a {
					// Sub menu indicators
					.sub-arrow {
						right: auto;
						left: 10px;
						border-style: dashed solid dashed dashed;
						border-color: transparent $sm-stic__desktop-arrow-color transparent transparent;
					}
				}
			}
		}

		// Vertical main menu

		// Main menu box
		&.sm-vertical {
			box-shadow: $sm-stic__desktop-vertical-box-shadow;

			// Main menu items
			a {
				padding: $sm-stic__desktop-vertical-item-padding-vertical
					$sm-stic__desktop-vertical-item-padding-horizontal;

				// Sub menu indicators
				.sub-arrow {
					top: 50%;
					margin-top: -$sm-stic__desktop-arrow-size;
					bottom: auto;
					left: auto;
					margin-left: 0;
					right: 10px;
					border-style: dashed dashed dashed solid;
					border-color: transparent transparent transparent $sm-stic__desktop-arrow-color;
				}
			}

			// round the corners of the first and last items
			> li:first-child > a,
			> li:first-child > :not(ul) a {
				border-radius: $sm-stic__desktop-border-radius $sm-stic__desktop-border-radius 0 0;
			}
			> li:last-child > a,
			> li:last-child > :not(ul) a {
				border-radius: 0 0 $sm-stic__desktop-border-radius $sm-stic__desktop-border-radius !important;
			}

			// No main menu item separators
			> li {
				border-left: 0 !important;
			}

			// Sub menus box
			ul {
				border-radius: $sm-stic__desktop-sub-border-radius !important;

				// Sub menus items
				a {
					padding: $sm-stic__desktop-sub-item-padding-vertical $sm-stic__desktop-sub-item-padding-horizontal;
				}
			}
		}

		// Extra stic styles
		a {
			&:hover .suitepicon {
				color: bw($stic-base);
			}
			.suitepicon {
				margin-right: 0.5em;
				color: lighten(bw($stic-base), 25%);
			}
		}
	}
}

// New rules from stic
.desktop-toolbar {
	display: flex;
	align-items: center;
	max-height: 60px;
	#stic-menu.sm-stic {
		margin-left: -20px;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		max-height: 100%;
		li > a {
			font-size: 14px;
			font-weight: 400;
		}
		// & > li > a  {
		// 	font-size: 13px;
		// 	font-weight: 600;
		// }
		& > li {
			&:last-child a:not(.has-submenu) {
				padding-top: 0px;
			}
			& > a {
				font-size: 13px;
				font-weight: 600;
				letter-spacing: 2px;
				text-transform: uppercase;
				& > .sub-arrow {
					display: none;
				}
			}
		}
		#search-all {
			margin: 3px 3px 3px 20px;
			border-radius: 0px;
			border: none;
		}

		ul#actions-area {
			.dropdown-header {
				color: bw($sm-stic__stic-light) !important;
				background-color: $stic-light !important;
				padding-left: 6px;
				padding-top: 6px;
				margin-top: 0px;
				font-weight: bold;
			}
		}
	}
	span.suitepicon {
		width: 12px;
		display: inline-block;
		color: bw($sm-stic__stic-light) !important;
	}
}
